# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
.idea/
*.ipr
*.iml
*.iws

# gradle
build
.gradle

# other
eclipse
run

# Gradle
build/
.gradle/
/bin/

# Eclipse
.project
.classpath
.settings/

# Runtime Generic
eclipse/
logs/
Client/
Server/
classes/